 <h4>Template Form</h4>
 <div class="container">
 <form name="myForm" #frm="ngForm" (ngSubmit)="frm.valid && onSubmitData(frm)">
    <input type="hidden" name="id" #id="ngModel" ngModel [(ngModel)]="idd">

    <div class="form-group">
         <label for="firstname">FirstName:</label><span style="color: red;">*</span>
        <input type=" text" name="fname" class="form-control" #fname="ngModel" ngModel
        [(ngModel)]="fn"
        required [ngClass]="{'is-invalid':frm.submitted && fname.invalid}">
        <div *ngIf="frm.submitted && fname.invalid" class="invalid-feedback">
            This field is required
        </div>
           
    </div>

    <div class="form-group">
        <label for="lastname">LastName:</label> <span style="color: red;">*</span>
        <input type=" text" name="lname" class="form-control" #lname="ngModel" ngModel
        [(ngModel)]="ln"
        required [ngClass]="{'is-invalid':frm.submitted && lname.invalid}">
         <div *ngIf="frm.submitted && lname.invalid" class="invalid-feedback">
This field is required
         </div>
     </div>

    <div class="form-group">
        <label for="email">Email:</label><span style="color: red;">*</span>
        <input type=" email" name="eml" class="form-control" #eml="ngModel" ngModel
        [(ngModel)]="em"
        required [ngClass]="{'is-invalid':frm.submitted&&eml.invalid}"
        pattern="^[\w]{1,}[\w.+-]{0,}@[\w-]{2,}([.][a-zA-Z]{2,}|[.][\w-]{2,}[.][a-zA-Z]{2,})$">
        <div *ngIf="eml.touched" class="invalid-feedback" >
            <div *ngIf="eml.errors?.['required']">This field is required</div>
            <div *ngIf="eml.errors?.['pattern']">Please enter your email</div>
        </div>
    </div>

    <label for="course">Course:</label>
     <select name="course" id=""   #course="ngModel" ngModel
     [ngModel]="cor">
       <option *ngFor="let course of courses" >{{course}}</option>
</select>

    <div class="form-group">
        <label for="gender">Gender:</label>
        <input type="radio" name="gender" value="male" class="radio" #gender="ngModel" ngModel
        [ngModel]="gen">
        <label for="male">Male</label>
        <input type="radio" name="gender" value="female" class="radio" #gender="ngModel" ngModel
        [(ngModel)]="gen">
        <label for="female">Female</label>

        <div class="form-group">
            <label for="password">Password:</label>
            <input type=" password" name="pass" class="form-control" #pass="ngModel" ngModel
            [(ngModel)]="ps">
        </div> 
        <button class="btn btn-success">Submit</button>&nbsp;
        <button class="btn btn-primary" (click)="onClickUpdatBtn(frm)">Update</button>



    </div>
</form>
</div>


 
<div *ngIf="showTable">
    <table class="table table-info">
        <tr  >
        <th>FirstName</th>
        <th>LastName</th>
        <th>Email</th>
        <th>Course</th>
        <th>Gender</th>
        <th>Password</th>
         <th>Action</th>
        <th>Action</th>
</tr>
<tr *ngFor="let data of allData ">
    <td>{{data.fname | mrMrs:data.gender   }}</td>
    <td>{{data.lname}}</td>
    <td>{{data.eml}}</td>
    <td>{{data.course}}</td>
    <td>{{data.gender}}</td>
    <td>{{data.pass}}</td>
    <td>
        <button class="btn btn-warning" (click)="onDelData(data)">Delete</button>

    </td>
    <td>
        <button class="btn btn-success" (click)="onUpdateData(data)">Updata</button>
    </td>

</tr>

    </table>
</div>